<a href="https://colab.research.google.com/github/G3OV4l3/G3OV4l3.github.io/blob/main/Clase_3_Valentina_Rosales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Clase 3_realizada por mi

In [64]:
x=int(input("Introduzca la edad de Juan: "))
y=int(input("Introduzca la edad de Maria: "))

Introduzca la edad de Juan: 12
Introduzca la edad de Maria: 20

In [65]:
suma_edades= x+y
suma_edades

32

In [13]:
#Agregar elementos a una lista
lista_1=[2,3,4,5,6]
lista_1.append(8)
lista_1

[2, 3, 4, 5, 6, 8]

In [10]:
#INSERT para agregar un nuevo elemento y definir su posicion
lista_2=[1,2,3,4,5]
nuevo_elemento=100
lista_2.insert(1,nuevo_elemento)
print (lista_2)

[1, 100, 2, 3, 4, 5]

In [14]:
#Eliminar elemento de una lista con remove()
lista_1.remove(4)
lista_1

[2, 3, 5, 6, 8]

In [15]:
#Eliminar elemento de una lita con pop()
lista_1.pop(0)
lista_1
#pop elimina elementos basados en su posicion, en python como en muchos lenguahes la primera posicion es 0

[3, 5, 6, 8]

#VEAMOS COMO FUNCIONA EN DETALLE CON UN EJEMPLO

#FOR

In [17]:
for i in [2,4,6,8]:
  print (i+1)

3
5
7
9

In [18]:
#este metodo nos permite saber el total de elementos en una lista len()
len(lista_1)

4

In [21]:
#esto me muestra las posiciones
for i in range(len(lista_1)):
 print (i)

0
1
2
3

In [23]:
x=[1,4,6,2,"hola"]#apuntando a una lista

for i in x:   #inicio
  print(i)
  print("final")

1
final
4
final
6
final
2
final
hola
final

In [31]:
for i in range (0,10,2): #empieza en cero hasta la posicion 10 de 2 en dos
  print(i)

0
2
4
6
8

In [27]:
range(1,5)

range(1, 5)

In [40]:
i=1
while i<4:
  print(i)
  i+=1

1
2
3

In [50]:
x=10

if x<10:
  print(x,"es menor a 10")
elif x>10:
  print(x,"es mayor a 10")
else:
  print(x,"es 10")

10 es 10

In [62]:
#Se puede utilizar solo una condicion
x="hola"
if type(x) != str:
  print("No es texto")
elif type(x) ==str:
  print("Es texto")

Es texto

In [63]:
#Se puede utilizar una condcion y la exclusion
x=15
if x % 3 ==0:
  print("x es multiplo de 3")
else:
  print("x no es multiplo de 3")

x es multiplo de 3

In [67]:
x=20
x%3 ==2   #%es el resto de la division

True

In [81]:
#ordenar listas usando append- Append sirve para agregar  "!= distinto de "
lista_original= [3,1,2,3,4,5,4,6,4,3]
lista_sin_tres=[]
for x in lista_original:
  if x != 3:
     lista_sin_tres.append(x)
print(lista_sin_tres)

[1, 2, 4, 5, 4, 6, 4]

In [82]:
#version alternativa usando remove
lista_original= [3,1,2,3,4,5,4,6,4,3]
for x in lista_original:
  if x==3:
    lista_original.remove(x)
print(lista_original)

[1, 2, 4, 5, 4, 6, 4]

In [84]:

# eliminar con del de un diccionario. Elimina un elemento especifico del diccionario

diccionario={"a":1,"b":2, "c":3}
del diccionario["b"]
print(diccionario)

{'a': 1, 'c': 3}

In [86]:
# eliminar con pop() de un diccionario. Elimina un elemento especifico del diccionario mediante la clave correspondiente y valor asociado a esa clae
diccionario={"a":1,"b":2, "c":3}
valor=diccionario.pop("b")
print(diccionario)
print(valor)#tenia valor 2

{'a': 1, 'c': 3}
2

In [87]:
#agregar cosas a un diccionario
diccionario= { "Nombre":"juan", "Edad":12, "Ocupación":"estudiante" }
diccionario

{'Nombre': 'juan', 'Edad': 12, 'Ocupación': 'estudiante'}

In [89]:
#agregar elemento a un diccionario
diccionario["DNI"]=40000000
diccionario

{'Nombre': 'juan', 'Edad': 12, 'Ocupación': 'estudiante', 'DNI': 40000000}

In [91]:
#Editar elemento de un diccionario
diccionario["DNI"]=35000000
diccionario

{'Nombre': 'juan', 'Edad': 12, 'Ocupación': 'estudiante', 'DNI': 35000000}

#FUNCIONES

In [92]:
def my_function():
  print("Hello from a function")

In [93]:
my_function()

Hello from a function

In [96]:
def my_function(nombre):
  print(nombre,"es tutor de coderhouse")

In [98]:
my_function("German")
my_function("Gustavo")
my_function("Jose")

German es tutor de coderhouse
Gustavo es tutor de coderhouse
Jose es tutor de coderhouse

In [120]:
  def repetir_nveces(n:int, texto:str):
      if type(texto) != str:
         raise Exception("TypeError in texto")
      pass
      if type(n) != int:
        raise Exception ("TypeError in n")
      pass
      return n*texto

In [122]:
repetir_nveces(3,"coderhouse")

'coderhousecoderhousecoderhouse'

In [126]:
#elevar al cuadrado 10 claves de una lista
lista=[]
for i in range (10):
      lista.append(i**2)
lista

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]